#panel{
	background-color: #261b4e;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
#panel a{
	padding: 5px 10px;
	color: #FFF;
}
#panel a:hover{
	background-color: #FFF;
	color: #261b4e;
}
#s-left{
	float: left;
}
#s-right{
	float: right;
}
#show-mobile-panel{
	padding: 10px 15px;
	position: fixed;
	z-index: 1;
	right: 20px;
	top: 20px;
	background-color: #222;
	color: #FFF;
	border: 2px solid #222;
	border-radius: 5px;
	cursor: pointer;
	display: none;
}
#show-mobile-panel:hover{
	background-color: #FFF;
	color: #222;
}
#mobile-panel{
	background-color: #261b4e;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	display: none;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all .25s;
}
#mobile-panel a{
	padding: 15px 20px;
	color: #FFF;
	display: block;
}
#mobile-panel a:hover{
	background-color: #FFF;
	color: #261b4e;
}
#close-mobile-panel{
	display: block;
	text-align: center;
	border: none;
	outline: none;
	background-color: #d11b2a;
	color: #FFF;
	padding: 15px 20px;
	width: 100%;
	cursor: pointer;
}
#close-mobile-panel:hover{
	background-color: #FFF;
	color: #d11b2a;
}
#search-finder{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: -100%;
	background-color: #261b4e;
	z-index: 2;
	transition: all .25s;
}
#search-finder-center{
	padding: 10px;
	max-width: 800px;
	width: 100%;
	margin: auto;
}
#search-finder-center input, #search-finder-center button{
	outline: none;
	border: none;
	display: block;
	padding: 10px;
}
#search-finder-center input{
	width: 100%;
	background-color: #FAFAFA;
}
#search-finder-center button{
	width: 50%;
	float: left;
	text-align: center;
	cursor: pointer;
}
#btn-search{
	background-color: #6f1b71;
	color: #FFF;
}
#btn-search:hover{
	background-color: #9a1b71;
}
#btn-close{
	background-color: #d71b2d;
	color: #FFF;
}
#btn-close:hover{
	background-color: #b21b2d;
}
#main-content{
	padding-top: 60px;
}
.post-list{
	padding: 5px 10px;
}
.img-post{
	display: block;
	width: 100%;
}
.pag{
	padding: 5px;
	background-color: #261b4e;
	color: #FFF;
	display: inline-block;
	float: left;
}
.pag:hover{
	background-color: #FFF;
	color: #261b4e;
}
@media screen and (max-width: 640px){
	#panel{
		display: none;
	}
	#mobile-panel, #show-mobile-panel{
		display: block;
	}
	#main-content{
		padding-top: 0;
	}
}
#ADDPOST img{
	width: 100%;
	display: block;
	margin: auto;
}
.blog-posts img{
	max-width: 300px;
	width: 100%;
	display: block;
	margin: auto;
}
.popular-posts li{
	list-style: none;
}
.popular-posts img{
	border: none;
}
.popular-posts .item-title, .popular-posts .item-snippet{
	line-height: 30px;
}
.date-header span{
	font-size: 28px;
}
.post-footer{
	display: none;
}
b.b{
	font-weight: bold !important;
}
a.link{
	background-color: #5c2a85;
	padding: 4px 6px;
	color: #FFF;
	border-radius: 2px;
}
a.link:hover{
	background-color: #FAFAFA;
	color: #5c2a85;
}
a.link-o{
	background-color: #34c656;
	padding: 4px 6px;
	color: #FFF;
	border-radius: 2px;
}
a.link-o:hover{
	background-color: #FAFAFA;
	color: #34c656;
}
